body{
    background: var(--background-color-1);
    height: fit-content;
    width: 100vw;
    overflow: hidden;
}
#initial_animation{
    height: 100vh;
    width: 100vw;
    object-fit: cover;
}
body header{
    height: 10vh;
    width: 94vw;
    border-radius: 15px;
    display: flex;
    position: absolute;
    top: 2vh;
    left: 3vw;
    backdrop-filter: blur(5px);
    z-index: 1000;

    visibility: hidden;
    opacity: 0;
    transition: opacity 1s ease;
}
body main{
    display: block;
    height: fit-content;
    width: 100vw;
    visibility: hidden;
    opacity: 0;
    transition: opacity 1s ease;
}
body main #presentation{
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
}
body main #presentation .back_ground_game{
    height: 100%;
    width: 100%;
}
body main #presentation .ship{
    height: 10vh;
    position: absolute;
    object-fit: scale-down;
    transition: top 0.3s linear, left 1s linear, transform 0.3s linear;
}
body main #presentation #ship_1{
    filter: drop-shadow(0vh 0vh 7px #00f);
    transform: rotate(-90deg);
    top: 7vh;
    left: -5vw;
}
body main #presentation #ship_2{
    filter: drop-shadow(0vh 0vh 7px #f00);
    transform: rotate(90deg);
    top: 7vh;
    left: 105vw;
}
body main #presentation #ship_3{
    filter: drop-shadow(0vh 0vh 7px #0f0);
    transform: rotate(-90deg);
    top: 82vh;
    left: -5vw;
}
body main #presentation #ship_4{
    filter: drop-shadow(0vh 0vh 7px #ff0);
    transform: rotate(90deg);
    top: 82vh;
    left: 105vw;
}


body main #presentation .content_my_name{
    border-radius: 4vh;
    height: 20vh;
    width: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 40%;
}
body main #presentation .content_my_name h1{
    border-radius: 5vh;
    border: 1px solid #00B8FF;
    color: transparent;
    backdrop-filter: blur(5px);
    height: 100%;
    width: fit-content;
    padding: 4vh;
    text-align: center;
    font-size: 4rem;
    -webkit-text-stroke: 2px #00B8FF;
    display: flex;
    align-items: center;
}
body main #presentation .content_my_name .cursor{
    background: #00B8FF;
    height: 10vh;
    width: .3vw;
    display: flex;
    position: relative;
    right: 2vw;
    visibility: visible;
}
body main #navigation_tree{
    height: 100vh;
    width: 100vw;
}
body main #navigation_tree #scene{
    height: 100%;
    width: 100%;
}

.row{
    backdrop-filter: blur(10px);
    border-radius: 50%;
    border: 4px solid #00B8FF;
    box-shadow: 0px 0px 15px #00B8FF;
    height: 15vh;
    width: 15vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
}
.L{
    top: 140vh;
    left: 5vw;
    z-index: 510;
}
.R{
    top: 140vh;
    right: 5vw;
    z-index: 520;
}
.row .row_svg{
    width: 70%;
}
.row #row_l{
    margin-right: 15%;
    rotate: 90deg;
}
.row #row_r{
    margin-left: 15%;
    rotate: -90deg;
}

.card{
    border-radius: 20px;
    border: 4px solid #00B8FF;
    box-shadow: 0px 0px 15px #00B8FF;
    background: linear-gradient(5deg, #001528, #000d1a);
    height: 35vh;
    width: 16vw;
    position: absolute;
    top: 132vh;
    left: 42vw;
    z-index: 501;
}


body footer{
    visibility: hidden;
}