@media (width < 900px) {
    body main #navigation_tree .scene .row{
        height: 17vw;
        width: 17vw;
    }
    body main #navigation_tree .scene .L{
        left: 3vw;
    }
    body main #navigation_tree .scene .R{
        right: 3vw;
    }
    body main #navigation_tree .scene .card p{
        width: 40vw;
    }

    body main #presentation .content_my_name{
        height: 13vh;
    }
    body main #presentation .content_my_name h1{
        font-size: 7.5vw;
        padding: 4vw;
    }
    body main #presentation .content_my_name .cursor{
        height: 50%;
        width: 1vw;
        right: 3vw;
    }

    body footer {
        flex-direction: column;
        align-items: center;
    }
    body footer #contact{
        width: 80%;
        padding: 0;
        margin-bottom: 3vh;
        align-items: center;
    }
    body footer #contact a{
        width: 100%;
        text-align: center;
    }
    body footer #contact #links{
        width: 100%;
    }
    body footer #contact .btn-cv{
        margin-left: 0;
    }
    body footer #technologies_list{
        width: 95%;
        text-align: center;
    }
}