html {scroll-behavior: smooth;}

body{
    background: var(--background-color-1);
    height: fit-content;
    width: 100vw;
    overflow: hidden;
}
body #initial_animation{
    height: 100vh;
    width: 100vw;
    object-fit: cover;
}

/* ---------------- HEADER ----------------- */
body header{
    height: 10vh;
    width: 100vw;
    position: sticky;
    top: 0;
    display: flex;
    justify-content: center;
    z-index: 1000;

    visibility: hidden;
    opacity: 0;
    transition: opacity 1s ease;
}
body header #desktop_nav{
    height: 10vh;
    width: 94vw;
    border-radius: 20px;
    display: flex;
    justify-content: space-evenly;
    position: absolute;
    top: 2vh;
    left: 3vw;
    backdrop-filter: blur(5px);
}
body header #desktop_nav ul{
    height: 100%;
    width: 70%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
body header #icon_menu {visibility: hidden;}
body header #mobile_nav{visibility: hidden;}

/* ------------------- MAIN --------------------------- */
body main{
    display: block;
    height: fit-content;
    width: 100vw;
    position: relative;
    top: -10vh;
    visibility: hidden;
    opacity: 0;
    transition: opacity 1s ease;
}
body main #presentation{
    height: 100vh;
    width: 100vw;
    margin-bottom: 3vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}
body main #presentation .back_ground_game{
    height: 100%;
    width: 100%;
}
body main #presentation .ship{
    height: 10vh;
    position: absolute;
    object-fit: scale-down;
    transition: top 0.3s linear, left 1s linear, transform 0.3s linear;
}
body main #presentation #ship_1{
    filter: drop-shadow(0vh 0vh 7px #00f);
    transform: rotate(-90deg);
    top: 7vh;
    left: -5vw;
}
body main #presentation #ship_2{
    filter: drop-shadow(0vh 0vh 7px #f00);
    transform: rotate(90deg);
    top: 7vh;
    left: 105vw;
}
body main #presentation #ship_3{
    filter: drop-shadow(0vh 0vh 7px #0f0);
    transform: rotate(-90deg);
    top: 82vh;
    left: -5vw;
}
body main #presentation #ship_4{
    filter: drop-shadow(0vh 0vh 7px #ff0);
    transform: rotate(90deg);
    top: 82vh;
    left: 105vw;
}

body main #presentation .content_my_name{
    border-radius: 20px;
    height: 10vh;
    width: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 45vh;
}
body main #presentation .content_my_name h1{
    border-radius: 5vh;
    border: 1px solid #00B8FF;
    color: transparent;
    backdrop-filter: blur(5px);
    height: 100%;
    width: fit-content;
    padding: 4vw 2vw;
    text-align: center;
    font-size: 6vw;
    -webkit-text-stroke: 2px #00B8FF;
    display: flex;
    align-items: center;
}
body main #presentation .content_my_name .cursor{
    background: #00B8FF;
    height: 100%;
    width: .3vw;
    display: flex;
    position: relative;
    right: 2vw;
    visibility: visible;
}


body main .blurring_effect_separation{
    background: linear-gradient(transparent, #000, transparent);
    height: 20vh;
    width: 100vw;
    position: absolute;
    top: 90vh;
}


body main #navigation_tree{
    height: fit-content;
    width: 100vw;
}
body main #navigation_tree .scene{
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
}
body main #navigation_tree .scene .card{
    border-radius: 20px;
    border: 4px solid #00B8FF;
    box-shadow: 0px 0px 15px #00B8FF;
    background: linear-gradient(5deg, #001528, #000d1a);
    height: fit-content;
    width: fit-content;
    max-width: 55vw;
    padding: .5% 2%;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    top: 135vh;
    opacity: 1;
    font-size: 3vh;
    transition: opacity .1s linear;
}
body main #navigation_tree .scene .card img{
    height: 22vh;
    max-width: 45vw;
    margin-top: 3%;
}
body main #navigation_tree .scene .card p{
    height: 7vh;
    width: 12vw;
    margin: 1vh 0vh;
    text-align: center;
    font-size: 2.5vh;
}
body main #navigation_tree .scene .card a{
    cursor: pointer;
    border-radius: 25px;
    border: 2px solid #00B8FF;
    background: transparent;
    height: 5vh;
    width: 80%;
    margin-top: 2vh;
    margin-bottom: 2vh;
    font-size: 2.5vh;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: transform .5s;
}
body main #navigation_tree .scene .card button:hover{transform: scale(1.1);}
body main #navigation_tree .scene .row{
    backdrop-filter: blur(10px);
    border-radius: 50%;
    border: 4px solid #00B8FF;
    box-shadow: 0px 0px 15px #00B8FF;
    height: 15vh;
    width: 15vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 145vh;
    transition: transform .3s;
}
body main #navigation_tree .scene .row:hover{transform: scale(1.1);}
body main #navigation_tree .scene .L{
    left: 10vw;
    z-index: 510;
}
body main #navigation_tree .scene .R{
    right: 10vw;
    z-index: 520;
}
body main #navigation_tree .scene .row .row_svg{width: 70%;}
body main #navigation_tree .scene .row #row_l{
    margin-right: 15%;
    rotate: 90deg;
}
body main #navigation_tree .scene .row #row_r{
    margin-left: 15%;
    rotate: -90deg;
}

body main #navigation_tree .blurring_effect_separation{
    height: 20vh;
    top: 190vh;
    opacity: .7;
}

body main #navigation_tree .scene:nth-child(3) .card{top: 235vh;}
body main #navigation_tree .scene:nth-child(3) .row{top: 245vh;}


body footer{
    border-top: 4px solid #00B8FF;
    height: fit-content;
    width: 100vw;
    padding-top: 1vh;
    display: flex;
    flex-direction: row;
}
body footer #contact{
    height: fit-content;
    width: 35%;
    padding-left: 2%;
    display: flex;
    flex-direction: column;
}
body footer #contact a{
    border-top: 2px solid #00B8FF;
    width: 80%;
    padding-top: 2%;
    margin-top: 4%;
}
body footer #contact a:hover{color: #66E0FF;}
body footer #contact #links{
    border-top: 2px solid #00B8FF;
    height: 20%;
    width: 80%;
    padding-top: 1%;
    margin-top: 4%;
    display: flex;
    justify-content: space-around;
}
body footer #contact #links a{
    border: none;
    height: 7vh;
    width: fit-content;
    padding: 0;
    margin: 0;
    display: inline-block;
}
body footer #contact #links a img{
    height: 100%;
    width: fit-content;
    display: inline-block;
}
body footer #contact .btn-cv{
    border: none;
    border-radius: 20px;
    background: var(--text-color-1);
    color: #fff;
    height: 6vh;
    width: 50%;
    padding: 0;
    margin-left: 12.5%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: transform .3s;
}
body footer #contact .btn-cv:hover{
    color: #fff;
    transform: scale(1.1);
}
body footer #technologies_list{
    height: 50vh;
    width: 65%;
    padding-top: 1%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
}
body footer #technologies_list li{color: var(--text-color-1);}
body footer #technologies_list li ul li{
    color: #0098D4;
    cursor: pointer;
}
body footer #technologies_list li ul li:hover{color: #66E0FF;}